*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbb39d;
}
.frame{
    position: relative;
}
.crown{
    position: absolute;
    transform: rotate(-15deg);
    top: -28px;
    left: 48px;
}
.level-1{
    width: 25px;
    height: 25px;
    background-color: #540701;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: -38px;
    left: 45px;
}
.level-2{
    width: 90px;
    height: 20px;
    background-color: #540701;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: -15px;
    left: 14px;

}
.level-3{
    width: 120px;
    height: 20px;
    background-color: #540701;
    border-radius: 50% 50% 3px;
}
.eye{
    margin: 0auto;
    width: 50px;
    height: 50px;
    background-color: #540701;
    border-radius: 100% 0px;
    transform: rotate(15deg);
    position: absolute;
    top: 60px;
    left: 56px;
}
.one{
    width: 220px;
    height: 350px;
    border: 12px solid #540701;
    border-width: 0 0 12px 12px;
    border-radius: 50% 0 50% 50%;
    z-index: 1;
}
.two{
    width: 150px;
    height: 120px;
    border: 12px solid #540701;
    border-width: 0 12px 12px 0;
    border-radius: 50% 40% 50% 50%;
    position: absolute;
    bottom: 12px;
    left: 58px;
    transform: rotate(-40deg);
    z-index: 3;
}
.three{
    width: 70px;
    height: 10px;
    border: solid 5px #540701;
    border-color: transparent transparent #540701 #540701;
    border-radius: 50%;
    transform: rotate(-10deg);
    position: absolute;
    left: 0px;
    top: 160px;
}
.four{
    width: 70px;
    height: 10px;
    border: solid 5px #540701;
    border-color: transparent transparent #540701 #540701;
    border-radius: 50%;
    transform: rotate(-10deg);
    position: absolute;
    left: 0px;
    top: 180px;
}
.five{
    width: 60px;
    height: 10px;
    border: solid 5px #540701;
    border-color: transparent transparent #540701 #540701;
    border-radius: 50%;
    transform: rotate(-10deg);
    position: absolute;
    left: 2px;
    top: 200px;
}
.cleaner{
    height: 120px;
    width: 40px;
    background-color: #bbb39d;
    position: absolute;
    bottom: 60px;
    right: 0px;
    transform: rotate(20deg);
    z-index: 2;
}
.text{
    position: absolute;
    color: #540701;
    font-size: xx-large;
    bottom: 60px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}